
:root {
  --bg:      #f5f0e8;
  --ink:     #1a1a1a;
  --accent:  #ff4d1c;
  --muted:   #9b9080;
  --card:    #ece6da;
  --font-display:"Bebas Neue", sans-serif ;
  --font-body:"DM Sans", sans-serif;
}

/* ── BASE ── */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--ink);
}

/* ── NAV ── */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  z-index: 100;
  transition: background 0.9s ease, border 0.9s ease;
}

.nav-logo {
  font-family: var(--font-display);
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--ink);
  letter-spacing: 0.05em;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  font-family: var(--font-body);
  font-size: 0.85rem;
  text-decoration: none;
  color: var(--ink);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  position: relative;
  transition: color 0.3s ease;
}
.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1.5px;
  background: var(--accent);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: var(--accent);
}

.nav-links a:hover::after {
  width: 100%;
}
/* HERO */
.hero{
    min-height: 100vh;
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    padding: 8rem 3rem 4rem; 
}

.hero-eyebrow {
  font-family: var(--font-body);
  font-size: 0.8rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--muted);
  margin-bottom: 1.5rem;
}

.hero-title{
    font-family: var(--font-display);
  font-size: clamp(3rem, 9vw, 8rem); 
    line-height: 0.9;
    text-transform: uppercase;
}

.hero-title .line{
    display: block;
}


.hero-title .accent {
  color: var(--accent);
}

.hero-sub {
  margin-top: 2rem;
  max-width: 420px;
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.75;
  color: var(--muted);
}

.hero-cta {
  align-self: flex-start;
  margin-top: 2.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  font-family: var(--font-body);
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: var(--bg);
  background: var(--ink);
  padding: 1rem 2rem;
  border-radius: 100px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.hero-cta:hover {
  background: var(--accent);
  transform: scale(1.03);
}

.hero-cta .arrow {
  transition: transform 0.3s ease;
}

.hero-cta:hover .arrow {
  transform: translateX(5px);
}

